<!DOCTYPE html>
<html class="h-full m-0 p-0">
  <head>
    <title><%= content_for(:title) || "Island Formulator" %></title>
    <main class="container mx-auto min-h-screen mt-28 px-5 flex flex-col"> 
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Island Formulator">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen relative bg-transparent m-0 p-0">

    <div class="fixed inset-0 -z-10">

       
          <!--emerald wrapper-->
          <div class="w-full h-full bg-gradient-to-br from-emerald-200 to-emerald-700"></div>

    </div>

    <!--Navigation bar-->
    <nav class="w-full px-10 py-4 border-b border-white/20 rounded-lg shadow-md">
  <div class="max-w-11xl mx-auto flex items-center justify-between rounded-lg px-7 py-3 bg-white/80">
    <%# Left side - App name and main nav %>
    <%# Icon for homebase%>
    <div class="flex items-center gap-10">
      <%= link_to root_path, class: "group inline-flex items-center" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-9 w-9 text-gray-900 group-hover:text-yellow-700 transform transition duration-300 ease-in-out group-hover:-translate-y-2">
  <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
      </svg>
      <% end %>
      
      <% if authenticated? %> <%# WEEK 4 UPDATE WITH TOP OF THE PAGE%>
  <%= link_to "Dashboard", root_path, class: "font-bold text-emerald-600 hover:text-rose-900 transition-colors" %>
  <%= link_to "My Recipes", recipes_path, class: "font-bold text-emerald-600 hover:text-rose-900 transition-colors" %>
  <%= link_to "Inventory", inventory_items_path, class: "font-bold text-emerald-600 hover:text-rose-900 transition-colors" %>
  <%= link_to "Batches", batches_path, class: "font-bold text-emerald-600 hover:text-rose-900 transition-colors" %>
  <%= link_to "My Ingredients", ingredients_path, class: "font-bold text-emerald-600 hover:text-rose-900 transition-colors" %>
<% end %>
    
    <%# Right side - Auth links SIGN IN PAGE DASHBOARD%>
    <div class="flex items-center gap-4">
      <% if authenticated? %>
        <span class="text-sm bg-yellow-200 border border:yellow-100 rounded-md px-4 text-yellow-900 font-mono">
          <%= Current.user.email_address %>
        </span>
        <%= button_to "Logout", session_path, method: :delete, class: "px-4 py-2 text-sm text-rose-900 font-bold hover:text-rose-700 hover:bg-red-50 rounded-lg transition-colors" %>
      <% else %>
        <%= link_to "Sign Up", new_user_path, class: "px-4 py-2 text-sm font-medium text-white bg-pink-600 hover:bg-pink-400 rounded-lg transition-colors" %>
        <%= link_to "Login", new_session_path, class: "px-4 py-2 text-sm font-medium text-yellow-700 bg-gray-50 hover:text-gray-700 hover:bg-yellow-100 rounded-lg transition-colors" %>
      <% end %>
    </div>
  </div>
</nav>


    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>

  </body>
</html>
